@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&family=Press+Start+2P&family=Yellowtail&display=swap');

body{
    margin: 0px;
    background-color: #313131;
}

#sst{
    font-family: 'Press Start 2P', cursive;
    color: #66bfac;
    font-size:70px;
    text-align: center;
}

.xoro{
    font-family: 'Press Start 2P', cursive;
    margin: 40px auto;
    font-size: 60px;
    width: 60px;
    color: whitesmoke;
    text-shadow: 2px 2px #66bfac;
}

h4{
    position: relative;
    bottom:65px;
    font-family: 'Caveat', cursive;
    color: white;
    font-size:35px;
    text-align: center;
}